{
        "extends": ["airbnb", "prettier", "prettier-react"],
        "parser": "bable-eslint",
        "rules": {
                "react/jsx-filename-extension": [
                        1,
                        {
                                "extensions": [".js"]
                        }
                ],
                "linebreak-style": 0
        }
}
